@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

.flex {
    display: flex;
    flex-direction: row;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5fc;
    background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#c5c6d1 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #c5c6d1 2px, #e5e5f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
.tabs__container {
    position: absolute;
    top: 50px; left: 30px;
    display: flex;
    flex-direction: column;
}
.toggle-tabs {
    z-index: 4;
    align-self: flex-start;
    cursor: pointer;
    padding: 6px 12px 4px;
    background: #fff;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 700;
    border: 1px solid #888080;
    box-shadow: 0 0px 4px #ccc;
}
.toggle-tabs.pressed {
    border-bottom-color: #fff;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0 -2px 4px #ccc;
}
.toggle-tabs.pressed::before {
    content: 'x ';
}

.tabs {
    z-index: 3;
    margin-top: -1px;
    height: 175px;
    padding: 10px;
    border: 1px solid #888080;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #00000033;
    border-radius: 0px 6px 6px 6px;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 0px;
    scrollbar-width: thin;
    scrollbar-color: #9072e9 transparent;

    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.tabs.closed {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    pointer-events: none;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 175px;
    text-align: center;
    border-bottom: #b3b2b6 1px solid;
    scroll-snap-align: start;
}

.tab h3 {
    font-size: 14px;
    text-transform: uppercase;
}
.tab p {
    font-size: 20px;
    font-family: monospace;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 0.2em;
}

.keyboard {
    z-index: 1;
    width: fit-content;
    padding: 50px 50px 0px;
    box-shadow: -1px -1px 2px hsla(0, 0%, 100%, 0.2) inset,
            0 5px 2px 3px #ffffff4a inset, 
            0 -5px 2px 3px #362d52 inset, 
            0 2px 4px #7463a8;
    background: linear-gradient(180deg, #A490DE 0%,#7463a8 100%);
    background-color: #A490DE;
    border-radius: 12px;
}
.keyboard__header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
    .brand {
        align-items: center;
        gap: 10px;
    }
    .brand img {
        width: 30px;
    }
    .brand p {
        font-size: 20px;
        color: #fff;
    }
    .screen {
        flex-direction: column;
        gap: 3px;
        width: 150px;
        padding: 10px;
        border: 7px solid #000;
        background: #1a25bb;
        border-radius: 5px;
        box-shadow: 0px 0px 2px 2px hsl(0deg 0% 100% / 43%), 
            0px 0px 20px #00000052 inset;
        color: #fff;
        font-size: 12px;
    }
    .screen div {
        justify-content: space-between;
    }
        .mode {
            font-size: 10px;
        }

        .mode input {
            display: none;
        }
        .mode label {
            cursor: pointer;
        }

    .dial-container {
        width: 60px;
        height: 60px;
        border: 1px solid #594b85;
        box-shadow: 6px 3px 2px #362d52,
            inset 0px 3px 3px hsla(0, 0%, 100%, 0.3);
        border-radius: 100%;
        padding: 10px;
        background: linear-gradient(180deg, #A490DE 0%, #7664AA 100%);
    }
    .dial {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .dial-knob {
        position: absolute;
        bottom: 0; right: 0;
        cursor: pointer;
        width: 10px;
        height: 10px;
        border: 1px solid #594b85;
        border-radius: 100%;
        background-color: #ffffff1a;
    }

.keyboard-body {
    z-index: 2;
    position: relative;
    height: 300px;
    box-shadow: 0px -4px 1px 3px #594b85;
    border-radius: 8px;
    margin-bottom: -10px;
}
    .keyboard__top {
        position: absolute;
        justify-content: space-around;
        width: 100%;
    }

    
.key {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bolder;
    padding-bottom: 15px;
    transition: all 0.1s;
}
.key_black-set {
    gap: 25px;
}
.key_black {
    cursor: pointer;
    width: 50px;
    height: 175px;
    border: 1px solid black;
    border-radius: 0px 0px 6px 6px;
    box-shadow: -1px -1px 2px hsla(0, 0%, 100%, 0.2) inset,
        0 -5px 2px 3px hsla(0, 0%, 0%, 0.6) inset, 0 2px 4px hsla(0, 0%, 0%, 0.5);
    background: linear-gradient(45deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 33%) 100%);
    color: #ffffffd3;
}

.key_black.pressed {
    height: 180px;
    box-shadow: -1px -1px 2px hsla(0, 0%, 100%, 0.2) inset,
        0 -2px 2px 3px hsla(0, 0%, 0%, 0.6) inset, 0 1px 2px hsla(0, 0%, 0%, 0.5);
    background: linear-gradient(
        to right,
        hsl(0, 0%, 27%) 0%,
        hsl(0, 0%, 13%) 100%
    );
}

.key_white {
    cursor: pointer;
    width: 75px;
    height: 300px;
    border: 1.5px solid #3e2f686b;
    box-shadow: -1px 0 0 #ffffffcc inset, 
        0 0 5px hsl(0, 0%, 80%) inset,
        0 -5px 2px 3px hsla(0, 0%, 0%, 0.1) inset,
        0 0 3px #00000033;
    border-radius: 8px;
    background: linear-gradient(to bottom, hsl(0, 0%, 93%) 0%, white 100%);
    color: #00000098;
}
    .key_white.pressed {
        height: 305px;
        box-shadow: 2px 0 3px #0000001a inset,
        -5px 5px 20px #00000033 inset, 0 0 3px #00000033;
            background: linear-gradient(to bottom, white 0%, hsl(0, 0%, 91%) 100%);
    }

    kbd::selection {
        background: transparent;
    }